<!DOCTYPE html>
<html>
  <head>
    <title>Magiclinksample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" data-turbolinks="false"> 
    function showMagicLink() {
      var magicLink = document.getElementById("magicLinkDIV");
      magicLink.style.display = "block";
    }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
